.button, .combo-box-base {
	-fx-background-color: linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
		linear-gradient(#020b02, #3a3a3a),
		linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
		linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
	-fx-background-insets: 0, 1, 4, 5;
	-fx-background-radius: 9, 8, 5, 4;
	-fx-padding: 10 10 10 10;
	-fx-font-family: "Helvetica";
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-text-fill: #333333;
	-fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.2), 1, 0.0,
		0, 1);
}

.button:hover, .combo-box-base:showing, .combo-box-base:hover {
	-fx-background-color: linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
		linear-gradient(#020b02, #3a3a3a),
		linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
		linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
		linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
	-fx-text-fill: white;
}

.combo-box-base {
	-fx-padding: 0 0 0 0;
}

.combo-box {
	-fx-text-fill: #333333;
}

.label {
	-fx-font-weight: bold;
	-fx-text-fill: #111111;
	-fx-font-size: 20;
	-fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.2), 1, 0.0,
		0, 1);
}

.slider .thumb {
	-fx-background-color: #a6b5c9,
		linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
		linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 50%, #486a9a 51%,
		#4a6c9b 100%);
	-fx-background-insets: 0 0 -1 0, 0, 1;
	-fx-background-radius: 5, 5, 4;
	-fx-padding: 7 30 7 30;
}

.slider .track {
	-fx-background-color: rgba(0, 0, 0, 0.08),
		linear-gradient(#9a9a9a, #909090),
		linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
	-fx-background-insets: 0 0 -1 0, 0, 1;
	-fx-background-radius: 5, 5, 4;
	-fx-padding: 3 30 3 30;
}

#chat-textfield {
	-fx-text-fill: black;
	-fx-font-size: 18;
	-fx-font-family: "Arial Narrow";
	-fx-background-color: white;
	-fx-font-weight: bold;
	-fx-border-color: #5d5d5d;
	-fx-border-width: 3px;
	-fx-border-radius: 10;
}

#chat-nachricht {
	-fx-text-fill: black;
	-fx-font-size: 20;
	-fx-font-family: "Arial Narrow";
	-fx-font-weight: bold;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
	-fx-margin: 20px;
	-fx-padding: 20px;
	-fx-background-radius: 10;
}

#fehler {
	-fx-text-fill: #DF0101;
	-fx-font-weight: bold;
}

#pfeil-detail {
	-fx-background-color: transparent;
}

#spiel-vorschau {
	-fx-padding: 30 0 0 0;
}

#spieler {
	-fx-font-weight: bold;
	-fx-background-color: linear-gradient(#006464, #006565),
		linear-gradient(#006464, #006565), linear-gradient(#006464, #006565),
		linear-gradient(#006464 0%, #006565 50%, #006464 100%),
		linear-gradient(from 0% 0% to 15% 50%, rgba(175, 238, 238, 0.9),
		rgba(0, 100, 100, 0));
	-fx-background-radius: 30;
	-fx-text-fill: #ffffff;
}

#spieler:hover {
	-fx-font-size: 18px;
}

#waehler {
	-fx-font-size: 28;
	-fx-font-weight: bold;
	-fx-padding: 30px;
	-fx-background-color: rgba(0, 100, 100, 1);
	-fx-background-radius: 10;
	-fx-text-fill: #ffffff;
}

#weiss {
	-fx-background-color: rgba(255, 255, 255, 0.8);
}

#menu-punkte {
	-fx-background-color: linear-gradient(from 0px 0px to 50px 0px, #000000, rgba(255, 255, 255, 0
		));
	-fx-font-family: "Impact";
	-fx-font-size: 30pt;
	-fx-background-radius: 0;
	-fx-padding: 5 5 5 30;
	-fx-text-fill: #000000;
}

#dialog {
	-fx-background-color: #006464;
	-fx-background-radius: 10;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0.0, 0.0);
}

#detail-root {
	-fx-background-color: rgba(0, 100, 100, 0.7);
	-fx-background-radius: 10;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
	-fx-padding: 20px;
}

#namensfeld {
	-fx-background-color: transparent;
	-fx-text-fill: #111111;
	-fx-font-size: 24;
	-fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.2), 1, 0.0,
		0, 1);
	-fx-font-weight: bold;
	-fx-highlight-fill: null;
	-fx-highlight-text-fill: -fx-text-fill;
}